@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./fonts";
@import "./variables";
@import "./animations";

* {
  box-sizing: border-box;

  --theme-color: #3c1dff;
  font-family: "Pretendard";
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

html {
  font-size: 26px;
}

input,
textarea {
  outline: none;
  border: none;
}

code,
pre {
  font-family: Consolas, Monaco, "Andale Mono",
    "Ubuntu Mono", monospace;
  text-shadow: none;
  color: white;
  font-size: 0.8em;

  & * {
    font-family: Consolas, Monaco, "Andale Mono",
      "Ubuntu Mono", monospace;
    text-shadow: none;
  }

  & .glassmorph {
    box-shadow: 0px 2px 8px 0 rgba(31, 38, 135, 0.37) !important;
  }
}

pre {
  margin-bottom: 2em;
}

h2 {
  font-size: 1.2em;
  font-weight: 500;
  margin: 0.5em 0;
}

p {
  word-break: keep-all;

  blockquote > & {
    margin: 0 !important;
  }
}

.text-theme {
  color: var(--theme-color);
}

b,
strong {
  font-weight: 600;
}

.glassmorph {
  color: white;
  background-color: rgba(255, 255, 255, 0.23);
  // text-shadow: 0 2px 4px rgba(71, 97, 206, 0.36); // original
  text-shadow: 0 4px 6px rgba(71, 97, 206, 0.36); // customized
  box-shadow: 0 4px 32px 0 rgba(31, 38, 135, 0.37);
}

code.glassmorph,
blockquote.glassmorph {
  box-shadow: 0px 1px 3px 0 rgba(31, 38, 135, 0.37) !important;
}

img {
  box-shadow: 0px 1px 3px 0 rgba(31, 38, 135, 0.37) !important;
}

.layout-container {
  background-color: rgb(37, 99, 235);
  display: flex;
  width: 100vw;
  height: 100svh;

  padding: 2em;

  position: relative;
}

.header {
  font-size: 2em;
  font-weight: 500;
  padding: 1.25rem 0;
  padding-top: 0;
  color: white;

  position: relative;
}

.markdown-contents {
  flex: 1;
  padding-bottom: 1em;

  & > p:first-child > img {
    margin-top: 0;
  }

  & > *:first-child {
    margin-top: 0 !important;
  }
}

.glassmorph-listitem {
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: -1.5px -1.5px 2px -2px #fff,
    5px 5px 30px rgb(0, 0, 0, 0.2);

  transition: 0.1s;

  &:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }
}

// declare mixins
@mixin mobile {
  @media (max-width: #{$breakpoint-tablet - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$breakpoint-tablet}) and (max-width: #{$breakpoint-desktop - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$breakpoint-desktop}) {
    @content;
  }
}

@mixin broad-desktop {
  @media (min-width: #{$breakpoint-broad-desktop}) {
    @content;
  }
}

@mixin small-layout {
  html {
    font-size: 16px;
  }

  .layout-container {
    padding: 2.5vw 0;
  }

  .contents-container {
    width: 95vw;
    padding: 1em;

    .header {
      font-size: 1.5em;
      padding-bottom: 0.5em;
    }
  }
}

@mixin hide-preview {
  .contents-viewer {
    display: none;
  }

  .contents-editor {
    margin-right: 0;
  }
}

// use mixins
@include mobile {
  @include small-layout;

  @include hide-preview;
}

@include tablet {
  @include hide-preview;
}

@include desktop {
  .contents-container {
    width: 800px;
  }
}

@include broad-desktop {
  .contents-container {
    width: 1000px;
  }
}
