@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(http://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
@import url(http://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-jp.css);

html,
body,
ul {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

body {
  background-color: white;
  color: black;
  font-family: "Spoqa Han Sans Neo", "sans-serif";
}
